<section id="about" class="text-gray-600 body-font container p-20">
  <div class="flex flex-col text-center w-full">
    <h1 class="text-2xl font-medium title-font mt-10 text-gray-900 mb-5">
      ABOUT
    </h1>
  </div>

  <div class="text-center">
    <h2 class="text-2xl mb-5">
      We are a Media & Branding™️ CreAgency™️ partner for Brand(s), Studios &
      Talent.
    </h2>
    <p>
      The Pivot Group works as a creative strategy and production partner by
      producing creative media & distribution strategy for a now entirely
      digital world.
    </p>
  </div>
</section>
