<section class="text-gray-600 body-font container">
  <div class="flex flex-col text-center w-full mb-10">
    <h1 class="text-2xl font-medium title-font mb-10 mt-10 text-gray-900">
      OUR TEAM
    </h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
      Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify,
      subway tile poke farm-to-table. Franzen you probably haven't heard of
      them.
    </p>
  </div>

  <div class="flex flex-wrap">
    {% for bio in collections.bios %}
    <div class="p-4 lg:w-1/3 md:w-1/2">
      <div class="h-full flex flex-col items-center text-center">
        <img
          alt="team"
          class="flex-shrink-0 rounded-lg object-cover object-center mb-4"
          src="{{bio.data.headshot}}"
        />
        <div class="w-full">
          <p class="title-font font-medium text-lg text-gray-900">
            <a>{{ bio.data.name }}</a>
          </p>
          <p class="text-gray-500 mb-3">{{bio.data.title}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
